<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<!--Sidebar Content-->
			Search: <input ng-model="query">
			Sort By: 
			<select ng-model="orderProp">
				<option value="name">Alphabetical</option>
				<option value="age">Newest</option>
			</select>
		</div>
		<div class="col-md-10">
			<!--Body Content-->
			<ul class="models">
				<li ng-repeat="model in models | filter:query | orderBy:orderProp" class="thumbnail">
					<a href="#/models/{{model.id}}" class="thumb">
					<img ng-src="{{model.imageUrl}}"></a>
					<a href="#/models/{{model.id}}">{{model.name}}</a>
					<p>{{model.snippet}}</p>
				</li>
			</ul>
		</div>
	</div> <!-- row -->
</div> <!-- container-fluid -->