Detail view for <span>{{modelId}}</span>
<h1 class="page-header" style="text-align:center;">Styles</h1>
	<div class="container-fluid">
	  <div class="row">
	    <div class="col-md-2">
	      <!--Sidebar content-->
	 
	      Search: <input ng-model="query">
	      Sort by:

	      <select ng-model="orderProp">
	        <option value="Name">Style Name</option>
	        <option value="Trim">Trim</option>
	      </select>

	    </div>
	    <div class="col-md-10">
	      <!--Body content-->
	      <ul class="models">
	        <li ng-repeat="style in styles | filter:query | orderBy:orderProp" class="thumbnail">
	        	<a href="#/styleDetail/{{style.Id}}">{{style.Name}}</a>
	        	<p>Model: {{style.Submodel.ModelName}}</p>
	        	<p>Trim: {{style.Trim}}</p>
	        	<p>Style Id: {{style.Id}}</p>
	        </li>
	      </ul>
	    </div>
	  </div>
	</div>
